* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl !important;
    background-color: #E6D5B8;
}

// .container-main {
//     padding-left: 30px;
//     padding-right: 30px;
//     padding-top: 1px;
// }