main {
    margin-top: 57px;
}

@media only screen and (max-width: 481px) {
    main {
        margin-top: 57px;
    }
}

#up-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 100%;
    background-color: #F0A500;
    img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}